<html>
    <head>
        <title>Merchant title</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="nav-div">
            <nav>
                <ul>
                  <a href=""  ><li>HOME</li></a>
                   <a href="/reg" ><li>REGISTRATION</li></a>
                   <a href="" ><li>PAYMENT</li></a>
                    <a href=""><li>ORDER</li></a>
                </ul>
            </nav>
        </div>

       
        </div>
    </body>
</html>